*{
    box-sizing: border-box;
    text-decoration: none;
}
.task-bar{
   
    height:1000px;
    width: 200px;
    position:fixed;
    border-radius: 10px 10px 0px 0px;
    top:0px;
    left:0px;
    border: 1px solid black;
    background-color: rgb(6, 6, 40);  
    
}
.img{
    background: url("Admin_image.jpg");
    border-radius: 50%;
    height:100px;
    width:100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:48px;
    margin-top: 20px;
}
.admin-heading{
    border-bottom:5px solid whitesmoke;
    margin-top:20px;
    width:170px;
    min-height:32px;
    /* display: flex; */
    /* justify-content: center; */
    margin-left:18px;
    padding-left:17px;
    font-size:21px;
    font-weight: bolder;
    color:white;
}
.task-button{
    margin-top:25px;
    /* border:5px solid white; */
    width:200px;
    min-height:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.task-bar button{
    height:45px;
    width: 199px;
    color:white;
    /* margin-left: 8px; */
    /* background-color: rgb(40, 40, 44); */
    background-color: rgb(17, 17, 59);
    /* border-top:0.1px solid white; */
    border:none;
    /* border-bottom:0.1px solid white; */
    cursor: pointer;
    font-size: 17px;
    /* margin-bottom: 20px; */
    /* border-radius: 0.5px 0px 0.5px 0px; */
}
.task-bar button:hover{
    /* background-color: rgb(245, 4, 104); */
    /* background-color: rgb(46, 46, 129); */
    background-color: black;
    /* color:black; */
}
#Student svg{
    margin-left:-68px;
    margin-right:36px;
}
#Teacher svg{
    margin-left:-68px;
    margin-right:36px;
}
#Operation svg{
    margin-left: -60px;
    margin-right: 28px;
}
#Dashboard svg{
    margin-left: -60px;
    margin-right: 28px;
}
#Note svg{
    margin-left: -72px;
    margin-right:42px;
}
svg{
    height:20px;
    width:30px;
    margin-left:-50px;
    margin-right:20px;
    color:yellow;
}
#Logout{
    margin-top: 150px;
}
#Logout:hover{
    background-color: rgb(245, 4, 104);
}


