#Insert{
    background:white;
    color:black;
 }

.tb{
    /* margin-left:250px; */
    border:none;
    border-collapse: collapse;
    /* min-width:1250px; */
    min-width:0px;
    font-size:17;
    height:60px;
    background-color: white;
    color: rgb(0, 136, 255);
    box-shadow: 1px 0px 6px 1px black;
    animation : moving;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    /* opacity: 0.1; */
   
    /* padding:30px; */
}
@keyframes moving{
    from{
        top:-300px;
        /* left:209px; */
    }
    to{
        top:233px;
        /* left:209px; */
    }
}
.tb span{
    color:red;
}
.tb td{
    height: 60px;
}
.tb select{
    width:313px;
    height:35px;
    color:green;
}
.tb .input{
    width:313px;
    height:35px;
    
}
.tb .input::placeholder{
    color:green;
    font-weight: 15;
  
    
}
.td .gender{
    width:20px;
}
.file-photo{
    margin-top: 3px;
    margin-left: 62px;
    
}
.div-table{
    border:none;
    margin-left: 209px;
    width: 1294px;
    height: 693px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,#355E3B,#BCB88A);
}
.submit{
    width: 343px;
    height: 41px;
    /* background-color: #3e2f84; */
    background-color: orange;
    color:white;
    border:none;
    font-size: 15;
}
.submit:hover{
    background-color:rgb(255, 102, 0);
}
.td-submit-bt
{
    text-align: center;
}
/* #Student{
    background: rgb(46, 46, 129);
    color:white;
} */
*{
    box-sizing: border-box;

}
.nav-bar{ 
    margin-left: 209px;
    padding-left: 20px;
    height: 53px;
    width: 1307px;
    border: 1px solid black;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: black;
    
}
.nav-bar button {
    height: 51px;
    width: 104px;
    font-size: 20;
    border:none;
    color:white;
    background-color: black;
    cursor: pointer;
}
.nav-bar button:hover{
    background-color: white;
    color:black;
}

.table{
    margin-left:370px;
    width:1000px;
    height:75px;
    border:none;
    
}
.table th{
    height:35px;
    background-color: #3e2f84;
    color:white;
    
}

/* .table,td,th{ */
    /* border:0.1px solid black; */
    /* border-collapse:collapse;
    text-align: center;
} */
.table td{
    height:36px;
    text-align: center;
}
.td-button{
    width:157px;
}
.table button{
    height:24px;
    border-radius: 5px;
}
.table .accept{
    background: green;
    color: white;
    border:none;
}
.table .discart{
    background-color: red;
    color: white;
    border:none;
}

.div-reload{
    margin-left: 209px;
    border:none;
}
.reload svg
{
    margin-left: 28px;
    color:white;
}

.reload{
    height: 60px;
    width: 107px;
    background-color: rgb(5, 147, 41);
    color: white;
    border:none;
}
.reload:hover{
    background-color: rgb(7, 101, 7);
}
button{
    cursor: pointer;
}
.temp-heading{
    margin-left: 209px;
    height:35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 30px;
    background-color: rgb(39, 4, 89);
    color: white;
    font-size: 20;
}
.white{
    background:rgb(255, 255, 255);
}
.gray{
    background-color: rgb(237, 208, 240);
}
.bt-white{
    background-color: white;
    color:black;
}
.no-data{
    margin-left:370px;
    width:1000px;
    height:200px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:red;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px ;
}
.hidden-input-box{
    display: none;
}
